<div class="container">
<p id="notice"><%= notice %></p>

<h1>Seats</h1>

<table class="table table-bordered">
  <thead>
    <tr align="center">
      <th>Name</th>
      <th>Baggage</th>
      <th>Flight</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <!-- remove @ sign while using partial -->
    <% @seats.each do |seat| %>
      <tr>
        <td><%= seat.name %></td>
        <td align="center"><%= seat.baggage %></td>
        <td align="center"><%= seat.flight_id %></td>
        <td>
           <button class="btn btn-outline-warning btn-block"> 
              <%= link_to 'Show', seat %>
           </button>
        </td>
        <td>
           <button class="btn btn-outline-success btn-block"> 
              <%= link_to 'Edit', edit_seat_path(seat) %>
           </button>
        </td>
        <td>
          <button class="btn btn-outline-danger btn-block"> 
            <%= link_to 'Destroy', seat, method: :delete, data: { confirm: 'Are you sure?' } %>
          </button>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

</div>